Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [2]:
m='Muskan'

In [31]:
print(m)
type(m)

Muskan

str

In [17]:
l = [1, 2, 34.5, 9+4j, 'Muskan', True]

In [32]:
print(l)
type(l)

[1, 2, 34.5, (9+4j), 'Muskan', True]

list

In [21]:
f = 34.56

In [33]:
print(f)
type(f)

34.56

float

In [55]:
tuple = ("Black","Red","Blue")
print(tuple)
print(type(tuple))

('Black', 'Red', 'Blue')
<class 'tuple'>

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [61]:
var1 = ' '
type(var1)

str

In [63]:
var2 = '[ DS , ML , Python]'
type(var2)

str

In [66]:
var3 = [ 'DS' , 'ML' , 'Python' ]
type(var3)

list

In [68]:
var4 = 1
type(var4)

int

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [70]:
50/2

25.0

/ -> this operator is to divide two numbers as an arithmatic operation

In [72]:
500%3

2

% -> this operator is modulus which specifies the remainder of the division

In [80]:
100/9

11.11111111111111

In [82]:
100//9

11

// -> this operator is floor division operator it gives the nearest quotient to the division

In [84]:
5**5

3125

** -> this is an exponential operator, if a**b it means a raised to the power of b

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [89]:
l = [1, 2.3 , 3+4j ,'muskan', True]
for i in l:
    print(i)
    print(type(i))

1
<class 'int'>
2.3
<class 'float'>
(3+4j)
<class 'complex'>
muskan
<class 'str'>
True
<class 'bool'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [32]:
a= input(int())
b=2
while a/b:
    if a%b == 0:
        print ("a is purely divisible by b" a/b "times")
    else :
        print ("a is not purely divisible by b and the remaider is")

0 50

TypeError: unsupported operand type(s) for /: 'str' and 'int'

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [36]:
l=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in l :
    if i/3==0:
        print(i)
        i=i+1

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [8]:
m='muskan'
m(4)=a
print(m)

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (527895918.py, line 2)

In [13]:
l=['m','u','s','k','a','n']
l[4]='k'
print(l)

['m', 'u', 's', 'k', 'k', 'n']

here in string you can not change the index componentin string this concept is known as imutable and in list this is known as mutable.